<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='CSS/question_1.css') }}" rel="stylesheet">
    <style>

           #start_button {
         width: 127px; height: 48px;
         text-align: center;
         border: none;
         margin-top: 20px;
         cursor: pointer;
         border-radius: 6px;
     }

     #start_button:hover{
         color: #fff;
         background-color: #216282;
         opacity: 0.9;
     }

      #next_button {
         width: 127px; height: 48px;
         text-align: center;
         border: none;
         margin-top: 20px;
         cursor: pointer;
         border-radius: 6px;
     }

     #next_button:hover{
         color: #fff;
         background-color: #216282;
         opacity: 0.9;
     }

    #skip_button {
         width: 127px; height: 48px;
         text-align: center;
         border: none;
         margin-top: 20px;
         cursor: pointer;
         border-radius: 6px;
     }

     #skip_button:hover{
         color: #fff;
         background-color: #216282;
         opacity: 0.9;
     }
    </style>
</head>
<body>

<h1 style="color:black; font-size:50px">Pass Master</h1>

<div class="tabbed round">
    <ul>
        <li>질문2</li>
        <li class="active">질문1</li>
        <li>최근 이슈</li>
        <li>지원 동기</li>
        <li>자기소개</li>
    </ul>
</div>


<h2 style="color:black"> 기업 맞춤형 질문입니다. 다음 질문에 답해주세요. <br> {{ question }} </h2>
<div>
    <form name = "question_1_start" action="question_1_start" method="post" style="display:inline">
    <script>
            var Jnull_check = {{null_check}}
            function dontClick2(){
                if ( Jnull_check == 0 || Jnull_check == 2 ){
                    var btn = document.getElementById('start_button') ;
                    btn.disabled = false ;
                    document.question_1_start.submit() ;
                }
                else if(Jnull_check == 1){
                    var btn = document.getElementById('start_button') ;
                    btn.disabled = true ;
                 }
            }
        </script>
        <input class="play" type="button" onclick="dontClick2()" id="start_button" value="시작">
    </form>

    {% if (null_check == 0) %}


    <script>alert("답변이 올바르게 입력되지 않았습니다. 다시 진행해주세요!")</script>
    {% elif null_check == 1 %}

    <script>
            alert("답변이 끝났습니다. 다음 버튼을 눌러주세요.")

    </script>

    {% endif %}

    <form name="question_2" action="question_2" method="post" style="display:inline">
        <script>
            var Jnull_check1 = {{null_check}}
            function dontClick(){
                if ( Jnull_check1 == 0 || Jnull_check1 == 2 ){
                    var btn1 = document.getElementById('next_button') ;
                    btn1.disabled = true ;
                 }
                else if(Jnull_check1 == 1){
                    var btn1 = document.getElementById('next_button') ;
                    btn1.disabled = false ;
                    document.question_2.submit() ;
                 }
            }
        </script>
        <input class="radio_1" type="button" onclick="dontClick()" id="next_button" value="다음">
         <input class="radio_1" type="submit"  id="skip_button" value="질문 Skip">
    </form>
</div>
<br>
<br>
<div>

    <div class="circle" style="margin-top: 30px; display:inline; float:left; margin-left:30%">
        <div>
            <button class="play" id="pause"></button>
        </div>
        <div class="display-remain-time" style="margin-bottom: -190px">
            00:60
        </div>

        <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">

            <g transform="translate(110,110)">

                <circle r="100" class="e-c-base"/>

                <g transform="rotate(-90)">

                    <circle r="100" class="e-c-progress"/>

                    <g id="e-pointer">

                        <circle cx="100" cy="0" r="8" class="e-c-pointer"/>

                    </g>

                </g>

            </g>

        </svg>
    </div>

    <script>
        //circle start
        let progressBar = document.querySelector('.e-c-progress');
        let indicator = document.getElementById('e-indicator');
        let pointer = document.getElementById('e-pointer');
        let length = Math.PI * 2 * 100;

        progressBar.style.strokeDasharray = length;
        function update(value, timePercent) {
            var offset = - length - length * value / (timePercent);
            progressBar.style.strokeDashoffset = offset;
            pointer.style.transform = `rotate(${360 * value / (timePercent)}deg)`;
        };

        //circle ends
        const displayOutput = document.querySelector('.display-remain-time')
        const pauseBtn = document.getElementById('pause');
        const setterBtns = document.querySelectorAll('button[data-setter]');

        let intervalTimer;
        let timeLeft;
        let wholeTime = 1 * 60; // manage this to set the whole time
        let isPaused = false;
        let isStarted = false;

        update(wholeTime, wholeTime); //refreshes progress bar
        displayTimeLeft(wholeTime);
        function changeWholeTime(seconds) {
            if ((wholeTime + seconds) > 0) {
                wholeTime += seconds;
                update(wholeTime, wholeTime);
            }
        }

        for (var i = 0; i < setterBtns.length; i++) {
            setterBtns[i].addEventListener("click", function (event) {
                var param = this.dataset.setter;
                switch (param) {
                    case 'minutes-plus':
                        changeWholeTime(1 * 60);
                        break;

                    case 'minutes-minus':
                        changeWholeTime(-1 * 60);
                        break;

                    case 'seconds-plus':
                        changeWholeTime(1);
                        break;

                    case 'seconds-minus':
                        changeWholeTime(-1);
                        break;
                }

                displayTimeLeft(wholeTime);
            });
        }
        function timer(seconds) { //counts time, takes seconds
            let remainTime = Date.now() + (seconds * 1000);
            displayTimeLeft(seconds);

            intervalTimer = setInterval(function () {
                timeLeft = Math.round((remainTime - Date.now()) / 1000);
                if (timeLeft < 0) {
                    clearInterval(intervalTimer);
                    isStarted = false;
                    setterBtns.forEach(function (btn) {
                        btn.disabled = false;
                        btn.style.opacity = 1;
                    });

                    displayTimeLeft(wholeTime);
                    pauseBtn.classList.remove('pause');
                    pauseBtn.classList.add('play');
                    return;
                }

                displayTimeLeft(timeLeft);
            }, 1000);
        }

        function pauseTimer(event) {
            if (isStarted === false) {
                timer(wholeTime);
                isStarted = true;
                this.classList.remove('play');
                this.classList.add('pause');

                setterBtns.forEach(function (btn) {
                    btn.disabled = true;
                    btn.style.opacity = 0.5;
                });

            } else if (isPaused) {
                this.classList.remove('play');
                this.classList.add('pause');
                timer(timeLeft);
                isPaused = isPaused ? false : true
            } else {
                this.classList.remove('pause');
                this.classList.add('play');
                clearInterval(intervalTimer);
                isPaused = isPaused ? false : true;
            }
        }
        function displayTimeLeft(timeLeft) { //displays time on the input
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            let displayString = `${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            displayOutput.textContent = displayString;
            update(timeLeft, wholeTime);
        }
        pauseBtn.addEventListener('click', pauseTimer);

      var t = document.getElementById('start_button');
      var Jnull_check2 = {{null_check}}
      if(Jnull_check2 == 2){
         t.addEventListener('click', function(event){
         setTimeout("pauseBtn.click()",5000) ;
      });
      }

    </script>


    <img style="
    width: 320px;
    text-align:right;
    display:grid;" id="bg" src="{{ url_for('video_feed') }}">

</div>

</body>
</html>