@charset "utf-8";
/* CSS Document */
 *{
    text-decoration: none;
    color: black;
 }
/*공통*/

 ul{
     list-style-type: none;
 }

.read_header{
    text-align: center;
}
.read_header p{
    text-align: right;
    margin-right: 10px;
}
.body{font-size:12px;}
 
table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
  margin : 20px 10px;
}
table.type04 th {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.type04 td {
    width: 350px;
    padding: 10px;
    text-align: initial;
    border-bottom: 1px solid #ccc;
}
.btnArea ul{
    padding-left: 75%;
    padding-top: 10px;
}
.btnArea ul li{
	background-color= white;
    display: inline;
    padding:0 2px
}
/*헤드부 */
.thead { background-color:gray ;}
 
/*바디부*/
.no, .notice , .author, .time, .reamNum, .title {
    text-align:center;}
 
.sns ul {
    padding-left: 45%;
    padding-top: 10px;
}
.sns ul li{
    display: inline;
    padding:0 10px
}
#comments, #user_name{
    font-size: 1.2rem;
}
#btn_insert{
    margin: 0 5px;
    font-size: 1.1rem;
}

/*버텀부*/
.tfoot { text-align:center;}
 
 
/*link*/
 
/*tbody*/
.tbody a{ color:#333; }
 
.tbody a:link{
    font-size:12px;
    text-decoration:none;
 }
 
.tbody a:visited{
    font-size:12px;
    color:#333;
    text-decoration:none;
         
 }
.tbody a:hover{ text-decoration:underline;}
.tbody a:active { font-size:13px;}
 
 /*tfoot*/
 
 .tfoot a{ color:#06F; }
 
 .tfoot a:link{
    font-size:10pt;
    text-decoration:none;
 }
 
.tfoot a:visited{
    font-size:12px;
    text-decoration:none;
         
 }
.tfoot a:hover{ text-decoration:underline;}
.tfoot a:active { font-size:13px;}

.pagination{
    align-content: center;
}

#comments{
    resize: none;
    width: 99%;
    height: 100px;
}

.search>*{
    font-size: 1.2rem;
    vertical-align:middle;
}

#search_target{
    font-size: 1.45rem;
}

.pagination{
    margin: 20px 0;
    text-align: center;
    font-size: 1.2rem;
}

#botbtn{
    width:60px;
    background-color: #757575;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
    border-radius: 15%
}

#botbtn1{
    width:60px;
    background-color: #757575;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
    border-radius: 15%
}
#botbtn2{
    width:60px;
    background-color: #757575;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
    border-radius: 15%
}