@charset "EUC-KR";

*{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}

#find-id-form{
    width:500px;
    height: 300px;
    margin:200px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}

.user{
    margin-bottom: 30px;
    margin-left: 30px;
}

#id{
    margin-left: 24px;
}

#find_id_btn{
    margin-left: 200px;
    margin-bottom: 30px;
}

#find-id-form label{
    margin-top: 10px;
}
    
#find-id-form input{
    margin-top: 5px;
}
    
