@charset "utf-8";
/* CSS Document */
 
/*공통*/
 
.body{font-size:12px;}
 
table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
  margin : 20px 10px;
}
table.type04 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}
table.type04 td {
    width: 350px;
    padding: 10px;
    text-align: initial;
    border-bottom: 1px solid #ccc;
}
 
 
/*헤드부 */
.thead { background-color:gray ;}
 
/*바디부*/
.toNo, .tdDate , .tdCount {text-align:center;}
 
 
/*버텀부*/
.tfoot { text-align:center;}
 
 
/*link*/
 
/*tbody*/
.tbody a{ color:#333; }
 
.tbody a:link{
    font-size:12px;
    text-decoration:none;
 }
 
.tbody a:visited{
    font-size:12px;
    color:#333;
    text-decoration:none;
         
 }
.tbody a:hover{ text-decoration:underline;}
.tbody a:active { font-size:13px;}
 
 /*tfoot*/
 
 .tfoot a{ color:#06F; }
 
 .tfoot a:link{
    font-size:10pt;
    text-decoration:none;
 }
 
.tfoot a:visited{
    font-size:12px;
    text-decoration:none;
         
 }
.tfoot a:hover{ text-decoration:underline;}
.tfoot a:active { font-size:13px;}

a {
    color:black;
    text-decoration: none;
}

a:hover 
{
     color:red; 
     text-decoration:none; 
     cursor:pointer;  
}

.bottom{
    margin-bottom: 20px;  
    margin-left: 290px;
}

#write_btn{
   margin-left: 450px;
}

#search_select, #search{
    font-size: 23px;
} 
#search_btn, #write_btn {
    font-size: 18px;
}
#search_select{
    position : relative;
    top : 4px;
}

.pagination{
    margin: 20px 0;
    text-align: center;
    font-size: 1.2rem;
}