.aside{
    padding:0;
    margin:0;
}

.section{
    padding: 1rem;
}
#head{
    font-size: 1rem;
    text-align: center;
}

div{
    padding: 5px;
}
input{
    font-size: 18px;
}
label, select{
    margin-right: 10px;
    font-weight: 600;
}

#title, #attached_file{
    width: 90%;
}

#content{
    width: 95%;
    min-height: 650px;
    font-size: 20px;
}


